.mensaje{
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #BB0116;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;


}

.mensaje-error{
    background-color: #BB0116;
}
.mensaje-exito{
    background-color: #587119;
}