.recipe-pizza{
    text-align: justify;
    text-justify: inter-word;
}

.text-date{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card-comment{
    background-color: rgba(255, 255, 255, 0.406);
}

.img-infopizza{
    max-width: 450px;
    max-height: 450px;
}

.comment-container{
    max-height: 200px;
}

.img-comment{
    height: 50px;
    margin: 15px 8px
}

.ingredients-list{
    margin-left: 0;
}

/* comentarios */
.comment-style{
    border-radius: 10px;
    padding: 5px;
}

.container-firstcomment{
    background-color: rgba(255, 255, 255, 0.406);
    margin-left: 40%;
    margin-bottom: 20px;
    min-height: 100px;
    line-height: 25px;
    position: relative;
    max-width: 400px;
}

.input-comment{
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.406);
    height: 45px;
    position: absolute;
    bottom: 5px;
}

.btn-coment{
    position: absolute;
    right: 5px;
    bottom: 5px;
    
}

.btn-coment-active{
    background-color: #B1550A;
    color: white;
}

.btn-coment-active:hover{
    background-color: #ad682f;
    
}