

.card{
    border: 0
}

.container-card{
    background-color: rgba(255, 255, 255, 0.637);
    min-height: 130px;
    max-height: 130px;
}

.img-card{
    padding: auto;
    width: auto;
    align-items: center;
}