.card{
    border: 0
}

.container-card{
    background-color: rgba(255, 255, 255, 0.315);
    min-height: 177px;
    max-height: 177px;
}

.card-usuario{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.card-nombre{
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    color: black;
}